{% extends 'emp_rec_management/base.html' %}

{% block title %} Signup {% endblock %}
{% block content %}
<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<div class="card-header"><h3 class="text-center font-weight-light ">Create Account</h3></div>
		<div class="card-text">

      {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
				{{message}}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% endfor%}

			<form method="POST" action="/employee_signup">
				{% csrf_token %}
				
				<!-- to error: add class "has-danger" -->

				<div class="row mb-3">
					<div class="col-md-6">
						<div class="form-floating mb-3 mb-md-0">
							<input class="form-control" type="text" id="fname" name="fname" placeholder="Enter your first name" />
							<label for="">First name</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating">
							<input class="form-control" type="text" id="lname" name="lname" placeholder="Enter your last name" />
							<label for="">Last name</label>
						</div>
					</div>
				</div>

				<div class="form-floating mb-3">
					<input class="form-control" type="text" id="username" name="username" placeholder="Create a Username" />
					<label for="">Username</label>
				</div>

			

				<div class="form-floating mb-3">
					<input class="form-control" type="email" id="email" name="email" placeholder="name@example.com" />
					<label for="">Email address</label>
				</div>

				<div class="row mb-3">
					<div class="col-md-6">
						<div class="form-floating mb-3 mb-md-0">
							<input class="form-control" type="password" id="pass1" name="pass1" placeholder="Create a password" />
							<label for="">Password</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating mb-3 mb-md-0">
							<input class="form-control" type="password" id="pass2" name="pass2" placeholder="Confirm password" />
							<label for="">Confirm Password</label>
						</div>
					</div>
				</div>


				<div class="text-center mt-4 mb-0">
					<div class="d-grid">
						<button type="submit" class="btn btn-primary btn-block ">Register</button>
					</div>
				</div>
				<div class="sign-up">
					Already have an account? <a href="{% url 'employee_login' %}">Login</a>
				</div>

				
			</form>
			

			
		</div>
	</div>
</div>
</div>


{% endblock %}
    
</body>
</html>